/*
 * Диагностика опрашивает LIS2DH12 программно (bit-bang), чтобы проверить и SPI, и I2C
 * на одних и тех же пинах. Аппаратный SPIM поэтому выключен, иначе он захватит пины.
 */
&spi0 {
	status = "disabled";
};

&lis2dh12 {
	status = "disabled";
};

/ {
	zephyr,user {
		io-channels = <&adc 0>;
	};
};

/* Канал 0 SAADC: напряжение питания VDD (батарея), шкала 0..3.6 В. */
&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 10)>;
		zephyr,input-positive = <NRF_SAADC_VDD>;
		zephyr,resolution = <12>;
	};
};
